body{
    background-color: white;

}

.card_section{
    width: 100%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    place-items: center;

   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.header_img img{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.cards{
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgb(181, 180, 180);
    transform: scale(1.02);
}

.imgs img{
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
.info{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 10px;
    color: #463828;

}

.btn button{
    padding: 5px;
    cursor: pointer;
    background-color:#463828;
    color: white;
    border-radius: 8px;
    border: none;
}
.btn button:hover{
    background-color: #F2ECE0;
    color: black;
    border: 1.5px solid #463828;
}
.container{
    display: flex;
    justify-content: space-around;
}
.sort{
    float: right;
    margin-right: 10%;
}
.heading{
    text-align: center;
    font-size: 2rem;
    color: #463828;
}
@media ( max-width:752px) {
    .card_section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        place-items: center;
       
    }

}

@media ( max-width:500px) {
    .card_section{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        place-items: center;
       
    }
    .heading{
        font-size: 1.2rem;
    }

}
