.card_section{
    width: 100%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    place-items: center;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.header_img img{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.cards{
    width: 250px;
    padding: 20px;
    transition: 0.5s ease-in-out;

}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgb(181, 180, 180);
    transform: scale(1.06);
}

.imgs img{
    width: 200px;
    height: 250px;
}
.info{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 10px;
}
.heading{
    text-align: center;
    font-size: 2rem;
}
.btn button{
    padding: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
}
.btn button:hover{
    background-color: white;
    color: black;
    border: 1.5px solid black;
}

@media ( max-width:752px) {
    .card_section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        place-items: center;
       
    }
}

@media ( max-width:500px) {
    .card_section{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        place-items: center;
       
    }
}
